.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.navbar a:hover {
  color: #ccc;
}

.navbar-brand {
  display: flex;
  align-items: center;
}



.navbar-brand h1 {
  font-size: 20px;
  margin: 0;
}

/* Add a border to the bottom of the navigation bar items */
.navbar a {
  border-bottom: 1px solid transparent;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Change the border color to white when the items are hovered over */
.navbar a:hover {
  border-bottom-color: #fff;
  transform: translateY(-2px);
}

/* Change the border color to transparent and add a background color of light gray when the items are active */
.navbar a.active {
  border-bottom-color: transparent;
  background-color: #ccc;
  transform: translateY(-4px);
}
