/* Scanner.css */

.card {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scanner {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  border: 2px solid #000; 
  border-radius: 10px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .scanner::after {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  background: #000;
  border-radius: 5px;
} */

.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.card-body {
  padding: 20px;
}

.card-body a {
  text-decoration: none;
  color: #007bff;
}

.card-body a:hover {
  text-decoration: underline;
}

.item-info {
  margin-top: 20px;
}

.item-info p {
  margin-bottom: 5px;
}
img[src*='data:image/svg+xml'] {
  display: none !important;
}